
	.mgline:hover .mctitle a
  
 {
  
  
text-decoration:none!important;
;
  
}  
.mgline a:hover
  
 {
  
  
color:#67c!important;;
;
  
}  
body  {
  
  
margin:0;
 
 padding:0;
 
 font-family:'Open Sans','Helvetica Neue',Segoe UI,Arial,Helvetica,sans-serif;
 
 font-size:13px;
 text-align:center;
 background:#f1f1f1;
 color:#333;
;
  
}  
a  {
  
  
color:#0074e4;
 text-decoration:none;
 transition:color .1s ease-in;
  
}  
a:hover  {

color:#0074e4;
 text-decoration:underline;
  
}  
a img  {
  
  
border:0;
;
  
}  
h1 {
  
margin:0 0 10px;
 font-size:2.8em;
 font-weight:200;
;
  
}  
h1,h2,h3,h4,h5,h6
 {
  
line-height:normal;
 text-rendering:optimizelegibility;
;
  
}  
h2,h3,h4,h5,h6 {
  
font-weight:600;
;
  
}  
.titulo-seccion {
  
font-size:1.8em;
 text-transform:uppercase;
 margin:15px 0;
 color:#555;
;
  
}  
.titulo-seccion a {
  
color:#555;
;
  
}  
.titulo-seccion a:hover
 {
  
text-decoration:none;
 color:#68e;
;
  
}  
.titulo-seccion span {
  
color:#888;
;
  
}  
.clear {
  
clear:both;
;
  
}  
.div-header-spacer {
  
text-align:center;
 background:#41779f;
 height:50px;
;
  
}  
.span-prono-ruta {
  
color:#e1e1e1
 ;
;
  
}  
 
.span-prono-ruta a {
  color:#fff!important;
 text-shadow:0 0 3px rgba(0,0,0,0.75)  ;
;
  
}  
  .div-titulo-secciones-bg {
  background:#fff;
 box-shadow:0 2px 4px rgba(0,0,0,0.3);
 text-align:center;
;
  
}  
  .div-prono-secciones {
  max-width:1240px!important;
 margin:0 auto!important;
 box-shadow:none!important;
  
}  .div-alerta {
  cursor:pointer;
 text-shadow:initial!important;
 font-size:1em;
 padding:0;
  
}  .div-alerta a:hover {
  text-decoration:none;
  
}  .div-alerta h2 {
  margin:5px 0;
  
}  .div-alerta-titulo {
  padding:8px 5px 8px 45px;
 box-shadow:0 1px 2px rgba(0,0,0,0.3);
 color:#fff;
 font-weight:600;
 background:url(http://www.pronosticoextendido.net/recursos/imagenes/iconos/vigilancia.png) no-repeat;
 position:relative;
 border-radius:3px;
  
}  #spnMenuAlertas {
  display:none;
 background:red;
 padding:0 6px;
 margin-left:7px;
 border-radius:10px;
 font-weight:500;
 font-size:1em;
  
}  .div-alerta-titulo a,.div-alerta-titulo a:active,.div-alerta-titulo a:hover {
  text-decoration:none;
  
}  .div-alerta-cont {
  color:#333;
 background:#fff;
 padding:10px;
  
}  .div-prono-tabla-izq {
  float:left;
 width:16%;
  
}  .div-prono-tabla-izq table {
  text-align:right;
 width:100%;
  
}  .div-prono-tabla-der {
  float:right;
 width:84%;
 overflow:hidden;
 overflow-x:auto;
  
}  .div-prono-tabla-der::-webkit-scrollbar {
  height:15px;
 cursor:pointer;
  
}  .div-prono-tabla-der::-webkit-scrollbar-track {
  background:rgba(255,255,255,0.2);
 -webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.3);
 border-radius:6px;
  
}  .div-prono-tabla-der::-webkit-scrollbar-thumb {
  background:rgba(255,255,255,0.5);
 border-radius:6px;
 -webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.5);
  
}  .div-prono-tabla-izq table td,.div-prono-tabla-der table td {
  background:rgba(40,40,40,0.75);
  
}  .div-prono-tabla-izq table,.div-prono-tabla-der table {
  border-spacing:0;
  
}  .prono-td-dia {
  text-align:center;
 font-weight:300;
 font-size:18px;
  
}  .prono-td-separador {
  background:initial!important;
 border-left:solid 4px transparent;
 padding:0!important;
  
}  .div-prono-tabla-izq table td,.div-prono-tabla-der table td {
  white-space:nowrap;
 height:20px;
 padding:2px 5px;
 background:rgba(50,50,50,0.9);
 border:solid 1px transparent;
  
}  .prono-fin-de-semana {
  float:left;
 width:50%;
  
}  .prono-fin-de-semana-2 {
  float:left;
 width:50%;
  
}  .prono-fin-de-semana h3,.prono-fin-de-semana-2 h3 {
  font-weight:400;
 margin:0;
 padding:0;
  
}  .prono-lista-enlaces-izq {
  float:left;
 width:35%;
 padding:5px;
 background:#eef;
 border:solid 1px #eaeaea;
  
}  .prono-lista-enlaces-izq p {
  margin:5px 10px;
 font-weight:700;
  
}  .prono-lista-enlaces-izq a {
  display:inline-block;
 padding:5px 10px;
 cursor:pointer;
  
}  .prono-lista-enlaces-izq hr {
  border:0;
 border-bottom:solid 1px #ccc;
 margin:5px 8px;
  
}  .prono-pais {
  float:right;
 width:55%;
 border:solid 1px #ccc;
 padding:0 20px;
  
}  .prono-seccion-bg {
  background-position:center;
 background-size:cover;
 background-repeat:no-repeat;
 text-align:center;
  
}  .prono-bg-despejado {
  background-image:url(http://www.pronosticoextendido.net/recursos/imagenes/pronostico/wallpapers/wallpaper-despejado.jpg);
  
}  .prono-bg-despejado-noche {
  background-image:url(http://www.pronosticoextendido.net/recursos/imagenes/pronostico/wallpapers/wallpaper-despejado-noche.jpg);
  
}  .prono-bg-parcial {
  background-image:url(http://www.pronosticoextendido.net/recursos/imagenes/pronostico/wallpapers/wallpaper-parcial.jpg);
  
}  .prono-bg-parcial-noche {
  background-image:url(http://www.pronosticoextendido.net/recursos/imagenes/pronostico/wallpapers/wallpaper-parcial-noche.jpg);
  
}  .prono-bg-nublado {
  background-image:url(http://www.pronosticoextendido.net/recursos/imagenes/pronostico/wallpapers/wallpaper-nublado.jpg);
  
}  .prono-bg-nublado-noche {
  background-image:url(http://www.pronosticoextendido.net/recursos/imagenes/pronostico/wallpapers/wallpaper-nublado-noche.jpg);
  
}  .prono-seccion-bg-cont {
  max-width:1240px;
 margin:0 auto;
 text-align:left;
  
}  .prono-seccion {
  color:#fff;
  
}  .prono-seccion h1 {
  font-size:2em;
 font-weight:400;
 float:left;
 text-shadow:0 0 3px rgba(0,0,0,0.75);
  
}  .prono-detalle {
  width:49%;
 padding:10px;
 background:#468;
 color:#fff;
 box-sizing:border-box;
 border-radius:4px;
  
}  .prono-detalle-izq {
  float:left;
  
}  .prono-detalle-der {
  float:right;
  
}  .prono-detalle-segmento {
  font-size:1.2em;
 color:#ccc;
  
}  .prono-detalle-mas {
  margin-top:20px;
  
}  .prono-detalle-mas p {
  float:left;
 width:50%;
 margin:0 0 20px;
  
}  .prono-detalle-subitem {
  font-weight:700;
 color:#ccc;
  
}  .prono-detalle-1 {
  margin-bottom:15px;
  
}  .prono-detalle-2 {
  float:left;
 margin-right:15px;
  
}  .prono-detalle-3 {
  float:left;
  
}  .prono-detalle-temp {
  margin:0;
  
}  .prono-detalle-cond {
  color:#ccc;
  
}  .prono-detalle-temp span {
  font-size:32px;
  
}  .prono-detalle-temp sup {
  font-size:24px;
  
}  .prono-lista-imprimir {
  padding:4px 8px;
 float:left;
 text-align:center;
 color:#eee;
 margin:10px 10px 0;
 cursor:pointer;
 font-size:.8em;
 text-indent:14px;
 background:url(http://www.pronosticoextendido.net/recursos/imagenes/iconos/imprimir.png) 5px 5px no-repeat;
 background-color:rgba(40,40,40,0.75);
 border-radius:8px;
  
}  .prono-lista-imprimir:hover {
  color:#abe;
 text-decoration:none!important;
  
}  .prono-seccion-item {
  background:rgba(40,40,40,0.75);
 padding:6px;
 text-align:center;
 border-radius:4px;
  
}  .prono-ahora-izq {
  float:left;
 max-width:50%;
 text-shadow:0 0 3px rgba(0,0,0,0.75);
  
}  .prono-ahora-izq img {
  max-width:200px;
 float:left;
 padding:15px;
 width:30%;
  
}  .prono-ahora-izq-cond {
  float:left;
 text-align:left;
 margin:30px 0 0 20px;
 max-width:50%;
  
}  .prono-ahora-izq-cond-t {
  font-size:5em;
 font-weight:200;
  
}  .prono-ahora-izq sup {
  font-size:34px;
  
}  .prono-ahora-cond {
  margin:20px 0 0;
 font-size:1.7em;
 font-weight:300;
  
}  .prono-ahora-st {
  margin:0;
 font-size:1em;
 color:#dde;
  
}  .prono-ahora-der {
  float:right;
 max-width:50%;
  
}  .prono-ahora-lista {
  margin:0 auto;
  
}  .prono-ahora-lista p {
  margin:0 0 10px 10px;
 display:inline-block;
 text-align:center;
 min-width:90px;
  
}  .prono-ahora-lista p span {
  color:#ccc;
  
}  .prono-ahora-fase {
  text-align:center;
  
}  .prono-ahora-fase p span {
  color:#ccc;
  
}  .prono-lista-enlaces {
  width:100%;
 height:40px;
 background-color:transparent;
 background-color:rgba(0,0,0,0.6);
 filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000,endColorstr=#99000000);
  
}  .prono-lista-enlaces a {
  display:table-cell;
 height:24px;
 font-size:1em;
 color:#fff;
 text-align:center;
 padding:8px 15px;
  
}  .prono-lista-enlaces a:hover,.prono-lista-enlace-a-activo {
  background:#555!important;
 color:#fff;
 text-decoration:none;
  
}  .prono-lista-mas-izq {
  float:left;
 width:50%;
  
}  .prono-lista-mas-der {
  float:right;
 width:50%;
  
}  .prono-lista-ultimo {
  margin-left:5px;
  
}  .prono-lista-ultimo p {
  margin:5px 0;
 background:#e53;
 padding:3px 5px;
 width:158px;
 color:#fff;
  
}  .prono-lista-contenedor {
  float:right;
 width:515px;
  
}  .prono-lista-bg {
  background:url(http://www.pronosticoextendido.net/recursos/imagenes/pronostico/prono-bg.png) no-repeat;
  
}  .div-prono-advertencia {
  padding:8px 10px;
 background:url(http://www.pronosticoextendido.net/recursos/imagenes/iconos/advertencia.png) no-repeat;
 color:#222;
 background-color:#ffbcaa;
 text-indent:36px;
 font-size:1em;
 text-shadow:none;
  
}  .a-prono-rayos {
  padding:8px 10px;
 background:url(http://www.pronosticoextendido.net/recursos/imagenes/iconos/rayo.png) no-repeat;
 color:#222;
 background-color:#fdb;
 padding-left:45px;
 font-size:1em;
 text-shadow:none;
 box-shadow:0 2px 3px rgba(0,0,0,0.25);
 display:block;
 border-radius:3px;
  
}  .a-prono-rayos:hover {
  text-decoration:none;
 color:#46c;
  
}  .a-prono-granizo {
  padding:8px 10px;
 background:url(http://www.pronosticoextendido.net/recursos/imagenes/iconos/granizo.png) no-repeat;
 color:#222;
 background-color:#fdb;
 padding-left:46px;
 font-size:1em;
 text-shadow:none;
 box-shadow:0 2px 3px rgba(0,0,0,0.25);
 display:block;
  
}  .a-prono-granizo:hover {
  text-decoration:none;
 color:#46c;
  
}  .div-prono-vigilancia {
  padding:8px 10px;
 background:url(http://www.pronosticoextendido.net/recursos/imagenes/iconos/vigilancia.png) no-repeat;
 color:#222;
 background-color:#ffecda;
 text-indent:36px;
 font-size:1em;
 text-shadow:none;
  
}  .div-prono-informe a {
  padding:8px 10px;
 background:url(http://www.pronosticoextendido.net/recursos/imagenes/iconos/vigilancia.png) no-repeat;
 color:#333;
 background-color:#ecffda;
 padding-left:46px;
 font-size:1em;
 text-shadow:none;
 box-shadow:0 1px 2px rgba(0,0,0,0.3);
 display:block;
 border-radius:3px;
  
}  .div-prono-informe a:hover {
  text-decoration:none;
 color:#46c;
  
}  .div-prono-advertencia span,.div-prono-vigilancia span,.div-prono-informe span {
  color:#888;
  
}  .prono-lista-scroll {
  overflow:hidden;
 overflow-x:auto;
 height:260px;
  
}  .prono-lista-scroll::-webkit-scrollbar {
  height:15px;
 cursor:pointer;
  
}  .prono-lista-scroll::-webkit-scrollbar-track {
  background:rgba(255,255,255,0.2);
 -webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.3);
 border-radius:6px;
  
}  .prono-lista-scroll::-webkit-scrollbar-thumb {
  background:rgba(255,255,255,0.5);
 border-radius:6px;
 -webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.5);
  
}  .prono-agro-izq {
  float:left;
 width:45%;
  
}  .prono-agro-der {
  float:right;
 width:45%;
  
}  .prono-lista {
  line-height:initial;
 position:relative;
 overflow-x:auto;
  
}  .prono-lista::-webkit-scrollbar {
  height:15px;
 cursor:pointer;
  
}  .prono-lista::-webkit-scrollbar-track {
  background:rgba(255,255,255,0.2);
 -webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.3);
 border-radius:6px;
  
}  .prono-lista::-webkit-scrollbar-thumb {
  background:rgba(255,255,255,0.5);
 border-radius:6px;
 -webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.5);
  
}  .div-prono-banner {
  margin-top:20px;
  
}  .prono-lista-2380 {
  width:2380px;
  
}  .prono-lista-1880 {
  width:3880px;
  
}  .prono-lista-7530 {
  width:7530px;
  
}  .prono-lista-1250 {
  width:1250px;
  
}  .prono-lista-item {
  padding:5px;
 float:left;
 width:137px;
 height:230px;
 background:rgba(50,50,50,0.85);
 border-bottom:solid 4px transparent;
 text-align:center;
 color:#fff;
 cursor:pointer;
 margin:5px 0;
 border-radius:5px;
 box-shadow:1px 1px 2px rgba(0,0,0,0.2);
  
}  .prono-lista-item-act {
  background:#468;
 border-bottom:solid 4px #fff;
 box-shadow:2px 2px 3px rgba(0,0,0,0.4);
  
}  .prono-lista-cont {
  background:#468;
 margin-right:5px;
 width:130px;
  
}  .prono-seccion-cont {
  background:#468;
 color:#fff;
  
}  .prono-lista-item-aero {
  height:120px;
 width:120px;
  
}  .prono-lista-item-5 {
  margin-top:20px;
  
}  .prono-lista-item:hover {
  background:#444!important;
 color:#fff;
 text-decoration:none;
  
}  .prono-lista-item-dia {
  font-weight:300;
 font-size:1.3em;
  
}  .prono-lista-item-segmento {
  color:#ccc;
  
}  .prono-lista-item-subitem {
  color:#ccc;
 font-size:.9em;
  
}  .prono-lista-izq {
  float:left;
 width:80px;
  
}  .prono-lista-izq span {
  color:#666;
  
}  .prono-lista-centro {
  float:left;
  
}  .prono-lista-centro img {
  float:left;
 width:48px;
 height:50px;
  
}  .prono-lista-temp {
  margin:5px 0 0;
 font-size:2.8em;
 float:left;
 width:50%;
  
}  .prono-lista-temp-max {
  margin:5px 0 0;
 font-size:2.8em;
 float:left;
 width:50%;
  
}  .prono-lista-temp-max sup,.prono-lista-temp sup {
  font-size:.55em;
  
}  .prono-lista-temp-min {
  margin:10px 0 0;
 font-size:1.7em;
 float:left;
 width:50%;
  
}  .prono-lista-temp-min span {
  color:#b9c1d8;
  
}  .prono-lista-temp-min sup {
  font-size:.6em;
  
}  .prono-lista-der {
  float:right;
  
}  .prono-lista-der p {
  margin:0 0 10px 10px;
 float:left;
 text-align:center;
 min-width:90px;
  
}  .prono-lista-der p span {
  color:#ccc;
  
}  .prono-lista-inf {
  clear:both;
 margin-left:80px;
  
}  .prono-lista-inf-desc {
  float:left;
  
}  .prono-lista-inf-mas {
  float:right;
 text-align:right;
 cursor:pointer;
 font-size:12px;
 color:#46c;
 font-weight:700;
  
}  .prono-lista-sep {
  float:left;
 width:10px;
 height:240px;
  
}  .prono-lista-sep-aero {
  height:140px;
  
}  .div-titulo {
  display:table;
 width:100%;
  
}  .div-titulo-fila {
  display:table-row;
  
}  .div-titulo-titulo {
  color:#666;
 display:table-cell;
 vertical-align:top;
  
}  .div-titulo-autor {
  text-align:right;
 color:#666;
 display:table-cell;
 white-space:nowrap;
 vertical-align:top;
  
}  .img-autor,.div-titulo-autor img {
  width:48px;
 box-shadow:0 1px 2px rgba(0,0,0,0.5);
 border-radius:24px;
  
}  .div-titulo-secciones {
  margin:0 0 15px;
 box-shadow:0 1px 3px rgba(0,0,0,0.2);
 display:table;
 background:#fff;
 width:100%;
 table-layout:fixed;
 vertical-align:bottom;
 text-align:center;
  
}  .div-titulo-secciones a {
  color:#555;
 display:table-cell;
 background:#fff;
 padding:6px 10px;
 text-align:center;
 border-bottom:solid 2px #fff;
 font-size:14px;
 line-height:17px;
 cursor:pointer;
 transition:border .1s ease-in;
  
}  .div-titulo-secciones a:hover,.a-seccion-activa {
  text-decoration:none;
 border-bottom:solid 2px #79e!important;
 color:#0074E4!important;
  
}  .a-seccion-activa {
  font-weight:600!important;
 color:#57d!important;
  
}  @media all and (min-width: 1024px) {
  .movil-mostrar {
  display:none!important;
  
}  ;
  
}  @media all and (max-width: 1240px) {
  .prono-lista-imprimir {
  display:none!important;
  
}  ;
  
}  @media all and (max-width: 1024px) {
  h1 {
  font-size:32px;
 margin-top:10px;
  
}  .span-prono-ruta {
  display:none;
  
}  .div-prono-tabla-izq {
  width:200px;
  
}  .div-prono-tabla-der {
  float:none;
 clear:both;
 position:absolute;
 left:200px;
 top:0;
 overflow:hidden;
 width:auto;
  
}  .prono-fin-de-semana {
  float:none;
 width:initial;
 clear:both;
  
}  .prono-fin-de-semana-2 {
  float:none;
 width:initial;
 clear:both;
  
}  .prono-bg-despejado {
  background-image:url(http://www.pronosticoextendido.net/recursos/imagenes/pronostico/wallpapers/wallpaper-despejado-768.jpg);
  
}  .prono-bg-despejado-noche {
  background-image:url(http://www.pronosticoextendido.net/recursos/imagenes/pronostico/wallpapers/wallpaper-despejado-noche-768.jpg);
  
}  .prono-bg-parcial {
  background-image:url(http://www.pronosticoextendido.net/recursos/imagenes/pronostico/wallpapers/wallpaper-parcial-768.jpg);
  
}  .prono-bg-parcial-noche {
  background-image:url(http://www.pronosticoextendido.net/recursos/imagenes/pronostico/wallpapers/wallpaper-parcial-noche-768.jpg);
  
}  .prono-bg-nublado {
  background-image:url(http://www.pronosticoextendido.net/recursos/imagenes/pronostico/wallpapers/wallpaper-nublado-768.jpg);
  
}  .prono-bg-nublado-noche {
  background-image:url(http://www.pronosticoextendido.net/recursos/imagenes/pronostico/wallpapers/wallpaper-nublado-noche-768.jpg);
  
}  .div-titulo-secciones-bg {
  overflow-y:hidden;
 overflow-x:auto;
 position:fixed;
 left:0;
 top:50px;
 right:0;
 z-index:1000;
  
}  .div-titulo-secciones {
  display:block;
 width:auto;
 white-space:nowrap;
 margin:0;
  
}  .div-titulo-secciones a {
  color:#555;
 font-size:15px;
 display:inline-block;
 padding:8px 12px;
  
}  .prono-seccion-bg-cont {
  padding:5px;
  
}  .prono-seccion h1 {
  font-size:1.6em;
 line-height:1.2em;
 float:none;
  
}  .prono-ahora-izq {
  float:none;
 max-width:initial;
  
}  .prono-ahora-der {
  float:none;
 max-width:initial;
  
}  .prono-ahora-izq-cond {
  margin:10px 0 0 6px;
 max-width:50%;
  
}  .prono-ahora-izq sup {
  font-size:38px;
  
}  .prono-ahora-cond {
  margin:10px 0 0;
 font-size:16px;
  
}  .prono-lista-2380,.prono-lista-7530,.prono-lista-1250,.prono-lista-1880 {
  width:initial;
  
}  .prono-lista-scroll {
  overflow-x:hidden;
 height:initial;
  
}  .prono-lista-item {
  float:none;
 width:initial;
 text-align:left;
 position:relative;
 overflow:hidden;
 margin:0;
 min-height:50px;
 height:auto;
  
}  .prono-lista-item-dia {
  font-size:16px;
  
}  .prono-lista-item-segmento {
  font-size:12px;
  
}  .prono-lista-sep {
  float:none;
 width:initial;
 height:2px;
  
}  .prono-lista-item-1 {
  position:absolute;
 left:6px;
 top:8px;
 width:22%;
 height:44px;
  
}  .prono-lista-item-2 {
  position:absolute;
 left:23%;
 top:6px;
 width:20%;
 text-align:center;
  
}  .prono-lista-item-3 {
  position:absolute;
 right:6px;
 top:4px;
 height:52px;
 width:20%;
 text-align:right;
 display:table;
  
}  .prono-lista-temp-min {
  margin:10px 0 0;
 position:absolute;
 right:0;
 bottom:2px;
 font-size:16px;
  
}  .prono-lista-temp-max {
  margin:0 0 0 30%;
 float:none;
 width:initial;
 font-size:24px;
 text-align:left;
  
}  .prono-lista-temp {
  margin:0;
 float:none;
 width:initial;
 font-size:32px;
 height:100%;
 display:table-cell;
 vertical-align:middle;
  
}  .prono-lista-item-4 {
  margin-left:42%;
 width:40%;
  
}  .prono-lista-item-5 {
  position:absolute;
 left:35%;
 top:10px;
 display:table;
 vertical-align:middle;
 width:60%;
 height:60px;
 margin-top:0;
  
}  .prono-lista-item-4 span,.prono-lista-item-5 span {
  display:table-cell;
 vertical-align:middle;
  
}  .prono-lista-mas {
  margin-left:80px;
  
}  .prono-lista-mas-izq {
  width:100%;
  
}  .prono-lista-mas-der {
  width:100%;
 margin-top:10px;
  
}  .prono-lista-mas p {
  width:30%;
 display:inline-block;
 margin:0;
 font-size:13px;
  
}  .ocultar-movil {
  display:none;
  
}  .pnl-prono-seccion {
  display:none;
  
}  .prono-agro-izq {
  float:none;
 width:initial;
  
}  .prono-agro-der {
  float:none;
 width:initial;
  
}  ;
  
}  @media all and (max-width: 768px) {
  body {
  font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,'Helvetica Neue',Helvetica,Arial,sans-serif!important;
 font-size:15px;
  
}  .prono-lista-enlaces-izq {
  float:none;
 width:initial;
  
}  .prono-pais {
  float:none;
 width:initial;
  
}  .prono-pais img {
  max-width:100%;
  
}  ;
  
}  @font-face {
  font-family:'Open Sans';
 font-style:normal;
 font-weight:400;
 src:local('Open Sans Regular'),local(OpenSans-Regular),url(https://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFWJ0bbck.woff2) format("woff2");
 unicode-range:U+0460-052F,U+1C80-1C88,U+20B4,U+2DE0-2DFF,U+A640-A69F,U+FE2E-FE2F;
  
}  @font-face {
  font-family:'Open Sans';
 font-style:normal;
 font-weight:400;
 src:local('Open Sans Regular'),local(OpenSans-Regular),url(https://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFUZ0bbck.woff2) format("woff2");
 unicode-range:U+0400-045F,U+0490-0491,U+04B0-04B1,U+2116;
  
}  @font-face {
  font-family:'Open Sans';
 font-style:normal;
 font-weight:400;
 src:local('Open Sans Regular'),local(OpenSans-Regular),url(https://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFWZ0bbck.woff2) format("woff2");
 unicode-range:U+1F00-1FFF;
  
}  @font-face {
  font-family:'Open Sans';
 font-style:normal;
 font-weight:400;
 src:local('Open Sans Regular'),local(OpenSans-Regular),url(https://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFVp0bbck.woff2) format("woff2");
 unicode-range:U+0370-03FF;
  
}  @font-face {
  font-family:'Open Sans';
 font-style:normal;
 font-weight:400;
 src:local('Open Sans Regular'),local(OpenSans-Regular),url(https://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFWp0bbck.woff2) format("woff2");
 unicode-range:U+0102-0103,U+0110-0111,U+1EA0-1EF9,U+20AB;
  
}  @font-face {
  font-family:'Open Sans';
 font-style:normal;
 font-weight:400;
 src:local('Open Sans Regular'),local(OpenSans-Regular),url(https://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFW50bbck.woff2) format("woff2");
 unicode-range:U+0100-024F,U+0259,U+1E00-1EFF,U+2020,U+20A0-20AB,U+20AD-20CF,U+2113,U+2C60-2C7F,U+A720-A7FF;
  
}  @font-face {
  font-family:'Open Sans';
 font-style:normal;
 font-weight:400;
 src:local('Open Sans Regular'),local(OpenSans-Regular),url(https://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFVZ0b.woff2) format("woff2");
 unicode-range:U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
  
}  @font-face {
  font-family:'Open Sans';
 font-style:normal;
 font-weight:700;
 src:local('Open Sans Bold'),local(OpenSans-Bold),url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UN7rgOX-hpOqc.woff2) format("woff2");
 unicode-range:U+0460-052F,U+1C80-1C88,U+20B4,U+2DE0-2DFF,U+A640-A69F,U+FE2E-FE2F;
  
}  @font-face {
  font-family:'Open Sans';
 font-style:normal;
 font-weight:700;
 src:local('Open Sans Bold'),local(OpenSans-Bold),url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UN7rgOVuhpOqc.woff2) format("woff2");
 unicode-range:U+0400-045F,U+0490-0491,U+04B0-04B1,U+2116;
  
}  @font-face {
  font-family:'Open Sans';
 font-style:normal;
 font-weight:700;
 src:local('Open Sans Bold'),local(OpenSans-Bold),url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UN7rgOXuhpOqc.woff2) format("woff2");
 unicode-range:U+1F00-1FFF;
  
}  @font-face {
  font-family:'Open Sans';
 font-style:normal;
 font-weight:700;
 src:local('Open Sans Bold'),local(OpenSans-Bold),url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UN7rgOUehpOqc.woff2) format("woff2");
 unicode-range:U+0370-03FF;
  
}  @font-face {
  font-family:'Open Sans';
 font-style:normal;
 font-weight:700;
 src:local('Open Sans Bold'),local(OpenSans-Bold),url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UN7rgOXehpOqc.woff2) format("woff2");
 unicode-range:U+0102-0103,U+0110-0111,U+1EA0-1EF9,U+20AB;
  
}  @font-face {
  font-family:'Open Sans';
 font-style:normal;
 font-weight:700;
 src:local('Open Sans Bold'),local(OpenSans-Bold),url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UN7rgOXOhpOqc.woff2) format("woff2");
 unicode-range:U+0100-024F,U+0259,U+1E00-1EFF,U+2020,U+20A0-20AB,U+20AD-20CF,U+2113,U+2C60-2C7F,U+A720-A7FF;
  
}  @font-face {
  font-family:'Open Sans';
 font-style:normal;
 font-weight:700;
 src:local('Open Sans Bold'),local(OpenSans-Bold),url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UN7rgOUuhp.woff2) format("woff2");
 unicode-range:U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
  
}  @font-face {
  font-family:'Roboto';
 font-style:normal;
 font-weight:400;
 src:local(Roboto),local(Roboto-Regular),url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu72xKOzY.woff2) format("woff2");
 unicode-range:U+0460-052F,U+1C80-1C88,U+20B4,U+2DE0-2DFF,U+A640-A69F,U+FE2E-FE2F;
  
}  @font-face {
  font-family:'Roboto';
 font-style:normal;
 font-weight:400;
 src:local(Roboto),local(Roboto-Regular),url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu5mxKOzY.woff2) format("woff2");
 unicode-range:U+0400-045F,U+0490-0491,U+04B0-04B1,U+2116;
  
}  @font-face {
  font-family:'Roboto';
 font-style:normal;
 font-weight:400;
 src:local(Roboto),local(Roboto-Regular),url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu7mxKOzY.woff2) format("woff2");
 unicode-range:U+1F00-1FFF;
  
}  @font-face {
  font-family:'Roboto';
 font-style:normal;
 font-weight:400;
 src:local(Roboto),local(Roboto-Regular),url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu4WxKOzY.woff2) format("woff2");
 unicode-range:U+0370-03FF;
  
}  @font-face {
  font-family:'Roboto';
 font-style:normal;
 font-weight:400;
 src:local(Roboto),local(Roboto-Regular),url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu7WxKOzY.woff2) format("woff2");
 unicode-range:U+0102-0103,U+0110-0111,U+1EA0-1EF9,U+20AB;
  
}  @font-face {
  font-family:'Roboto';
 font-style:normal;
 font-weight:400;
 src:local(Roboto),local(Roboto-Regular),url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu7GxKOzY.woff2) format("woff2");
 unicode-range:U+0100-024F,U+0259,U+1E00-1EFF,U+2020,U+20A0-20AB,U+20AD-20CF,U+2113,U+2C60-2C7F,U+A720-A7FF;
  
}  @font-face {
  font-family:'Roboto';
 font-style:normal;
 font-weight:400;
 src:local(Roboto),local(Roboto-Regular),url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu4mxK.woff2) format("woff2");
 unicode-range:U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
  
}  @font-face {
  font-family:'Roboto';
 font-style:normal;
 font-weight:700;
 src:local('Roboto Bold'),local(Roboto-Bold),url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmWUlfCRc4EsA.woff2) format("woff2");
 unicode-range:U+0460-052F,U+1C80-1C88,U+20B4,U+2DE0-2DFF,U+A640-A69F,U+FE2E-FE2F;
  
}  @font-face {
  font-family:'Roboto';
 font-style:normal;
 font-weight:700;
 src:local('Roboto Bold'),local(Roboto-Bold),url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmWUlfABc4EsA.woff2) format("woff2");
 unicode-range:U+0400-045F,U+0490-0491,U+04B0-04B1,U+2116;
  
}  @font-face {
  font-family:'Roboto';
 font-style:normal;
 font-weight:700;
 src:local('Roboto Bold'),local(Roboto-Bold),url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmWUlfCBc4EsA.woff2) format("woff2");
 unicode-range:U+1F00-1FFF;
  
}  @font-face {
  font-family:'Roboto';
 font-style:normal;
 font-weight:700;
 src:local('Roboto Bold'),local(Roboto-Bold),url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmWUlfBxc4EsA.woff2) format("woff2");
 unicode-range:U+0370-03FF;
  
}  @font-face {
  font-family:'Roboto';
 font-style:normal;
 font-weight:700;
 src:local('Roboto Bold'),local(Roboto-Bold),url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmWUlfCxc4EsA.woff2) format("woff2");
 unicode-range:U+0102-0103,U+0110-0111,U+1EA0-1EF9,U+20AB;
  
}  @font-face {
  font-family:'Roboto';
 font-style:normal;
 font-weight:700;
 src:local('Roboto Bold'),local(Roboto-Bold),url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmWUlfChc4EsA.woff2) format("woff2");
 unicode-range:U+0100-024F,U+0259,U+1E00-1EFF,U+2020,U+20A0-20AB,U+20AD-20CF,U+2113,U+2C60-2C7F,U+A720-A7FF;
  
}  @font-face {
  font-family:'Roboto';
 font-style:normal;
 font-weight:700;
 src:local('Roboto Bold'),local(Roboto-Bold),url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmWUlfBBc4.woff2) format("woff2");
 unicode-range:U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
  
}  	
	.div-mapa-holder-full  {
   top: 0 !important;
  ;
  
}   body  {
  overflow: hidden;
  
}  ;
  #at4-share  {
  display: none !important ;
  
}   #atstbx  {
   margin-top: 0;
 ;
  
}   @media all and (min-width: 1241px)  {
   .div-header-spacer  {
   display: none ;
  
}   #divHeader  {
   right: 356px;
  position: absolute;
  left: 0;
  top: 0;
  width: initial;
  ;
  
}   ;
  
}  


	.radsat-compartir  {
  
          
		position: absolute;
 
		right: 15px;
 
		top: 238px;
 
		width: 42px;
 
		height: 42px;
 
		z-index: 5000;
 
		line-height: 42px;
 
		color: #00ff00;
 
		text-align: center;
 
		background-color: white;
 
		box-shadow: 1px 3px 8px rgba(0,0,0,.5);
 
		border-radius: 23px;
 
		background-image: url(http://www.pronosticoextendido.net/recursos/imagenes/iconos/radsat/compartir.png?v=2);
 
		background-repeat: no-repeat;
 
		background-size: cover;
 
		cursor: pointer;
 
		transition: all .2s ease-in;
 
		transition-delay: 0.2;
 
 
  
}  
	.radsat-compartir:hover  {
  
    
		background-color: #e1e1e1;
 

  
}  
	@media (max-width: 768px)  {
  
		#radsat-localizar  {
  
			top: 70px !important;
 

  
}  
		.radsat-compartir  {
  
    display: none !important;
 
			top: 130px !important;
 

  
}  
  
}  